table, th, thead, td {
    border: 1px solid black;
}

th {
    height:40px;
}

.table-custom {
    width: 500px;
    height: 60px;
}

.bg-blue {
    background-color: #1F4E78;
    text-align: center;
    color: white;
}

.bg-gray {
    background-color: #E2EFDA;
}

.bg-purpleblue {
    background-color: #D9E1F2;
}

.bg-black {
    background-color: navajowhite;
}

.name-text {
    width: 50%;
}

.other-text {
    width: 13%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.textBox {
    width:60%;
}

.add-member-btn {
    background-color: #F4B183;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    width: 30%;
}

.formButton {
    background-color: #9EBFE5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px;
    width: 15%;
}